.contact-inner {
    margin-top: 100px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-big-text {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    width: 522px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    width: 303px;
    height: 74px;
    top: 5062px;
    left: 482px;
    border-radius: 5px;
    border: 2px solid #ffa2a2;
    margin-left: 20px;
    color: #ffa2a2;
}

.input::placeholder {
    color: #6f6666;
    font-family: Roboto;
    padding-left: 22px;
}

.input:nth-child(1) {
    margin-left: 0;
}

.input-box {
    padding-top: 37px;
}

.box-input {
    width: 492px;
    height: 74px;
    top: 5173px;
    left: 482px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 2px solid #ffa2a2;
    border-top: 2px solid #ffa2a2;
    border-left: 2px solid #ffa2a2;
    border-right: none;
    color: #ffa2a2;
}

.box-input::placeholder {
    color: #6f6666;
    font-family: Roboto;
    padding-left: 22px;
}

.inp-btn {
    width: 134px;
    height: 74px;
    top: 5173px;
    left: 985px;
    border-radius: 5px;
    background: #D64374;
    transition: .1s;
    border: 2px solid #D64374;
    color: #fafafa;
    font-size: 16px;
    font-family: Roboto;
    margin-right: 10px;
}

.inp-btn:hover {
    background: transparent;
    color: #D64374;
}