.hero-inner {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-box {}

.hero-parfume {}

.hero-text-box {}

.hero-h1 {}

.hero-title {}

.hero-p {}

.hero-text {}

.hero-btn {}